@media only screen and (max-width: 999px) {
    * {
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        justify-items: center;

    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .barratop {
        background-color: #1F2937;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 2px;
        justify-content: center;
    }

    .logotextomovil {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logoytext {
        background-color: #1F2937;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 110px;
        position: fixed;
        border-radius: 10px;
        z-index: 10000;

    }

    #logo {
        display: flex;
        align-content:flex-start;
        justify-content: flex-start;
        width: auto;
        height: 80px;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }   

    .logotext {
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 48px;
        color: #f9faf8;
    }
    .amigosli{
        background-color: #002f75;
        display: flex;
        flex-direction: row;
        border: 1px solid ;
        width: auto;
        text-align: center;
        border-radius: 10px;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 6px;
        padding: 2px 5px;
    }
    .ultop {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items:flex-end;
        align-content: center;
        text-align: right;
        gap: 1px;
        padding: 1px;
        margin: 1px  ; 
        font-size: 12px;
        list-style: none;
    }

    .litop {
        border: 1px solid #000000;
        border-radius: 10px;
        width: 85px;
        margin: 2px;
        outline-color: rgba(49, 138, 172, 0.4);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .litop:hover {
        border-radius: 0.5em 1.2em;
        background: #008ac0;
        color: #fff !important;
         box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 40px;
    text-shadow: 1px 1px 6px #fff;
    
    }

        .nivelcontacto {
            display: flex;
            flex-direction: row;
        }


     .tutolistt,
     .tutolist {
        display: flex;
        flex-direction: row;
        list-style: none;
        width: auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
    }


     .litutolist{
        display: flex;
        flex-direction: row;
        list-style: none;
        width: auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
    }
.tutoinfo {
    width: 400px;
    height: auto;

}
.alineacionmovil, .alineacionmovil img {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
   
}
.alineacionmovil {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

    .ulproductos {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
        padding: 1px 1px;

    }
    
    li.liproductos{
        display: flex;
        flex-direction: row;
        list-style: none;
        border: none;
        width: auto;
        padding: 0 15px;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
        margin: 0 0;
    }

    .redamigostitulo {
        text-align: center;
    }


    a {
        text-decoration: none;
        color:#e5e7eb;
        font-size: 18px;

    }

    .headergeneral {
        background-color: #1f2937;
        color: #e5e7eb;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 120px;
        
    }
    .headertexto {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-items: center;
        justify-content: center;
        align-content: center;
        width: auto;
        padding: 10px;
    }
    .headertexto h1{
        text-align: center;
        font-size: 32px;
        color: #f9faf8;
        font-weight: 900;
    }
    .headertexto p {
        display: flex;
        text-align: justify;
        width: auto;
        padding: 10px;
    }
    .textokubiotec {
        text-align: justify;
    }
    p.pamigosp {
        padding: 5px;
        margin: 0;
    }

    #imgheader {
        width: 180px;
        height: 180px;
        margin:3px;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 1px solid;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    #imgheader:hover{
        transition:all .5s ease-in-out;
        -webkit-border-radius:100%;
        box-shadow: 0px 0px 15px 15px #00d4f0;
        -webkit-box-shadow: 0px 0px 15px 15px #00668f;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        margin-top: 20px;
     }
.efeimgheader:hover #imgheader {
    -webkit-transform:scale(1.3);transform:scale(1.3);
   
}
#imgtutor {
    width: 230px;
    height: auto;
    margin:3px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    margin-bottom: 10px;
    margin-top: 20px;
}
#imgtutor:hover{
    transition:all .5s ease-in-out;
    -webkit-border-radius:100%;
   
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
 }

.efeimgheaderv{
    overflow:hidden;
}

    #imgheaderbio {
        width: 280px;
        height: auto;
        margin:3px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    #imgheaderbio {
        mask-image: linear-gradient( #1f2937 40%, transparent );
    }
    button.botonheader {
        display: flex;
        align-items: center;
        border: 2px solid;
        border-radius: 10px;
    }

    .botonheader {
        background-color: #318aac;
        color: #1F2937;
        transition: all 1s ease;
        position: relative;
    }

    .botonheader:hover {
        background: #318aac;
        color: #fff !important;
    }





    

    /* #principaln{

    } */
    .titulonoticias {
        display: flex;
        width: 100%;
        /* background-color: #abc937; */
        background: linear-gradient(0deg,rgba(171,201,55,1) 0%, rgba(51,64,0,1) 60% );
        border: 2px solid #b4b4b4;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* #noticiasbarra{

    } */

    .barranotis{
        display: flex;
        flex-direction: column;
        padding-top: -25px;
    }


    .textfbarra {
        text-align:justify;
    }


    /* .contenido1 h2 {
        display: flex;
        font-size: 28px;
        color: #1f2937;
        font-weight: 900;
        text-align: center;
        margin: 10px;
    } */

    .contenido1 {
        display: flex;
        padding-top: 7px;
        padding-bottom: 15px;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        width: auto;
    }
.tutoriales{
    width: auto;
}


    .titulocarru {
        background: linear-gradient(0deg, #3882f6 0%, rgba(31,41,55,1) 60%);
        margin-bottom: 3px;
        color: #e5e7eb;
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        border: 1px solid rgb(87, 87, 87);
        border-radius: .4em;
        margin: 1px 0 1px 0;
        padding: 5px 10px;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

/* aquí carrusel */

.inicio-carrusel-contenedor {
    display: flex;
    overflow-x: hidden; /* Oculta la barra de desplazamiento */
    width: 400px; /* Asegura que el contenedor ocupe todo el ancho */
    height: auto;
  }
  
  .iniciocosascarrusel {
    flex: 0 0 100%; /* Cada elemento ocupa el 100% del ancho */
    display: flex;
  }
#anterior, #siguiente {
    height: fit-content;
}
.botonescarrusel {
    display: flex;
    flex-direction: column;
}

img.lombriprocarrusel{
    width: auto;
    height: 300px;
    border-radius: 10px;
}
.textfproductoslombcar {
    background-color: rgba(211, 211, 211, 0.432);
    text-align: justify;
    font-size: 15px;
    width: auto;
    height: auto;
    padding-right: 25px;
    padding-left: 35px;
    border-radius: 15px;
}


/* aquí carrusel */

#inicio {
    justify-content: space-around;
}


    .imgtext {
        display: flex;
        flex-direction: column;
        border: 3px;
        border-color: #3882f6;
        padding-top: 5px;
        justify-content: space-between;
        gap: 3px;
        align-items: start;
    }




    .directorio {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        padding: 0;
        border-radius: 9px;
    }
    .directorioli {
        display: flex;
        width: auto;
        padding: 3px;
        /* margin: 3px; */
        font-size: 10px;
        color: #000000;
        border: none ;
    }

    a.amigosli{
        font-size: 12px;
    }

    .imgtextproductos {
        display: flex;
        flex-direction: column;
        border: 3px;
        border-color: #3882f6;
        padding-top: 5px;
        justify-content: space-between;
        gap: 3px;
        align-items: start;
    }

    
    .figt {
        display: flex;
        width: 350px;
        height: auto;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        
    }


    .figtkubimg {
        display: flex;
        width: 310px;
        height: auto;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background-color: lightgray;
        border-radius: 15px;
}

    img.figtkubimg:hover {
        filter: saturate(180%);
    }

    img.figtkubimg::after{
        content: '';
        width: 100%;
        height: 100%;
        inset: 0;
        position: absolute;
        background: inherit;
        filter: blur(80px)
        saturate(400%);
    
    }


    img {
        width: 350px;
        height: 350px;
        border-radius: 10px;

    }
    img.balimglogo{
        width: auto;
        height: 250px;
        border-radius: 15px;
    }

    img.lombripro{
        width: auto;
        height: 350px;
        border-radius: 10px;
    }

    .imgkubyhe {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 300px;
        height: auto;
        border-radius: 45px;
    }

    .figtproductos img{
        padding-top: 20px;
        width: 250px;
        height: auto;
    }

    .figt img {
        border-radius: .61em;
        mask-image: linear-gradient( #1f2937 40%, transparent );

    }

    .figtnoti {
        background: #c2c2c2;
        border-radius: 20px;
        padding: 5px;
    }
    .textf {
        text-align: justify;
        font-size: 15px;
        padding: 0 10px;
    }

    .figtproductos {
        width: 95%;
        margin: 3px;
        border:2px solid #888;
        border-radius: 20px;
    }


    .textfproductos {
        text-align: justify;
        font-size: 15px;
        padding: 0 25px 0 25px;
    }

    .figtproductosamigos {
        background-color: rgba(211, 211, 211, 0.432);
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        
    }

    .figtproductoslomb {
        background-color: rgba(211, 211, 211, 0.432);
        display: flex;
        width: auto;
        height: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;

    }

    #tutorialk{
        background-color: rgba(211, 211, 211, 0.432);
        display: flex;
        width:300px;
        height: auto;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;  
    }

    .tutorialk {
        background-color: rgba(211, 211, 211, 0.432);
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;  
    }

    .jardin1 {
        mask-image: linear-gradient( #1f2937 40%, transparent );
        display: flex;
    }


    #tutorialeslist {
        display: flex;
        flex-direction: column ;
        height: auto;
        flex-wrap: wrap;
    }
.tutocontimg#imgheaderbio:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
    border-radius: 100%; 
}
.tutocontimg:hover  #imgheaderbio {

    border-radius: 100%;
}

    .expande {
  
        transition:all .5s ease-in-out;
      }
      .expande:hover { 
        width: 100%;
             -webkit-transform:scale(1.9);transform:scale(1.9);
             mask-image: linear-gradient( #1f2937 90%, transparent );
            z-index: 10000;
      }
    .textfproductosamigos {
        background-color: rgba(211, 211, 211, 0.432);
        text-align: justify;
        font-size: 15px;
        width: auto;
        height: auto;
        padding-right: 10px;
        padding-left: 5px;
    }

    .textfproductoslomb {
        background-color: rgba(211, 211, 211, 0.432);
        text-align: justify;
        font-size: 15px;
        width: auto;
        height: auto;
        padding-right: 10px;
        padding-left: 5px;
        border-radius: 15px;
    }

    .listaamigos {
        box-sizing: content-box;
        display: flex;
        width: auto;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 5px 5px 5px 5px;
        font-size: 14px;
        border: 2px solid #ffffff;
        border-radius: 15px;
    }

    .titulostutos {
        background-image: linear-gradient(0deg, rgba(179,179,179,1),rgba(140,140,140,.3));
        margin-bottom: 2px;
        border: 1px solid rgb(87, 87, 87);
        border-radius: .4em;
        margin: 10px 0 10px 0;
        padding: 20px 0 20px 0;
        display: flex;
        width: 350px;
        justify-content: center;
        text-align: center;
    }

    .lituto {
        display: flex;
        font-size: 14px;
        width: auto;
        border: 0;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .ptutos {
        padding: 0 15px;
    }

    button {
        background-color: #3882f6;
        border-radius: .4em;
        border-color:#000000;
        color:#f9faf8;
    }
    button.buttoninfo {
        background: linear-gradient(0deg, rgba(56, 130, 246, 1) 0%, rgb(148 192 255) 60%);
        /* background-color: #abc937; */
        border-radius: .4em;
        border-color:#000000;
        color:#ffffff;
        font-weight: 900;
    }
    .bottonimage {
        align-content: center;
        align-items: center;
        text-align: center;
     }

    .contenido2 {
        display: flex;
        flex-direction: column;
        background-color: #ebf2ff;
        padding: 10px;
    }
    .textocont2 {
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: flex-end;
        padding: 0 20px;
        width: 80%;
    }
    .textoconttuto {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: justify;
        padding: 10px;
        width: 100%;
    }

    .textoconttuto img {
        width: 100%;
        height: auto;
    }

    div.textoconttuto div.textoconttuto {
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding:10px;
        width: 90%;
        align-content: center;
    }
    div.textocont2 p  {
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding:10px;
    }
    .p1{
        font-style: italic;
        font-size: 15px;
        color: #1f2937;
        text-align: justify;
        padding: 1px;
        margin-bottom: 2px;
    }

    .p2 {
        text-align: right;
        font-weight: 900;
        font-size: 12px;
        padding-right: 20px;
        padding-top: 5px;
        margin-top: 5px;
        margin-bottom: 3px;
    }


    .textcuadro {
        color: #f9faf8;

        
    }

    .contenidofin, .cuadrofin {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin: 25px
    }

    .cuadrofin {
        display: flex;
        margin:2px;
        border: 2px;
        background-color: #3882f6;
        align-items: center;
        border-radius: 5px;
    }

    .contactw {
        display: flex;
        align-content: center;
        align-items: center;
        color: #fff !important;
        font-size: 20px;
        font-weight: 500;
        border-radius: 0.5em 1.2em;
        background: #318aac;
        position: relative;
        border: 2px solid #318aac;
        outline: 2px solid;
        outline-color: rgba(49, 138, 172, 0.4);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
       }
    
       .contactw:hover{
        box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
        outline-color: rgba(49, 138, 172, 0);
        outline-offset: 80px;
        text-shadow: 1px 1px 6px #fff;
        }



    #whatsappn {
        width: auto;
        height: 25px;
    }

    #insta {
        width: auto;
        height: 45px;
    }



  .cuadrofinproductos {
   
    background-color: rgb(53, 53, 53);
        display: flex;
        height: auto;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;

    }


    .cuadrofininfo {
   
        background-color: rgb(53, 53, 53);
            display: flex;
            height: auto;
            border-radius: 10px;
            flex-direction: column;
            align-items: center;
    
        }

    .textcuadro{
        display: flex;
        flex-direction: column;
    }
    .pc1,.pc2 {
        text-align: justify;
        font-size: 14px;
        padding: 5px 5px 0 5px;
        margin: 5px 5px 0 5px;
    }

    footer {
        background-color: #1F2937;
        color:#f9faf8;
    }
    .cuadrofinb{
        display: flex;
        flex-direction: column;
        width: auto;
        height: 35px;
        border: 1px solid #f9faf8;
        border-radius: 6px;
        font-weight: 600;
        justify-content: center;
        margin: 10px 0 10px 0;
    }
    .cuadrofinbproductos{
        display: flex;
        flex-direction: column;
        width: auto;
        height: 35px;
        margin: 1px solid #000000;
        border-radius: 0.5em 1.2em;
        font-weight: 600;
        justify-content: center;
        margin: 10px 0 10px 0;
        align-items: center;
        color: #f8f8f8;
        outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
            .cuadrofinbproductos:hover {
                box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
                outline-color: rgba(49, 138, 172, 0);
                outline-offset: 80px;
                text-shadow: 1px 1px 6px #fff;
            }




    #imgfin {
        border-radius: 20px;
        display: flex;
        align-content: center;
    }

.pag404 {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 400px;
        padding-top:100px;
        
    }
/* Inicio css infonodal  */

#productoinfobal {
    
    /* position: fixed;
    top: 50%;
    left: 50%; */
    width: 350px;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* z-index: 1000; */
    display: none;
    justify-content:center;
    align-items:center;
    /* transform:translate(-50%,-50% ) ; */
}
#productoinfoultrabal {
    
    /* position: fixed;
    top: 50%;
    left: 50%; */
    width: 350px;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* z-index: 1000; */
    display: none;
    justify-content:center;
    align-items:center;
    /* transform:translate(-50%,-50% ) ; */
}

#productoinfosulfo {
    
    /* position: fixed;
    top: 50%;
    left: 50%; */
    width: 350px;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* z-index: 1000; */
    display: none;
    justify-content: center;
    align-items: center;
    /* transform:translate(-50%,-50% ) ; */
}

#productoinfojabon {
    
    /* position: fixed;
    top: 50%;
    left: 50%; */
    width: 350px;
    height: auto;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* z-index: 1000; */
    display: none;
    justify-content:center;
    align-items:center;
    /* transform:translate(-50%,-50% ) ; */
}
#productoinfodiato {
    
    /* position: fixed;
    top: 50%;
    left: 50%; */
    width: 350px;
    height: auto;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* z-index: 1000; */
    display: none;
    justify-content:center;
    align-items:center;
    /* transform:translate(-50%,-50% ) ; */
}
#productoinfomma {
    
    /* position: fixed;
    top: 50%;
    left: 50%; */
    width: 350px;
    height: auto;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* z-index: 1000; */
    display: none;
    justify-content:center;
    align-items:center;
    /* transform:translate(-50%,-50% ) ; */
}

#productoinfomulti {
    
    /* position: fixed;
    top: 50%;
    left: 50%; */
    width: 350px;
    height: auto;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* z-index: 1000; */
    display: none;
    justify-content:center;
    align-items:center;
    /* transform:translate(-50%,-50% ) ; */
}

 .infocuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .infocuadro2 {
    display: flex;
    flex-direction: column;

 }
 
.modal {
    background: white;
    width: 100%px;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .flexicon {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .headerinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .headerinfotitulo {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-between;
    padding-left: 10px
  }
  .flexinfoclose {
    display: flex;
    padding-right: 20px;
    align-items: flex-start;
  }
  
  .icon {
    color: royalblue;
    font-size: 26px;
    font-weight: 700;
    background: lavender;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* .textinfo {
    text-align:left;
    padding-right: 15px;
    padding-bottom: 5px;
  } */
  
  .close-button {
    background: #eee;
    border-radius: 50%;
    color: #888;
    font-weight: 400;
    font-size: 16px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 0;
  }
  
  /* button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  } */
  
  .flexinfobutton {
    display: flex;
    justify-content:flex-start ;
    flex-direction: row;
    margin: 10px 0 10px 0px;
  }
  
  
  button.infocerrar {
    background: white;
    border: 1px solid #ddd;
    color: royalblue;
    width: 100px;
    margin: 0 5px;
  }
/* fin de css infoproductos */
 /* inicio cv */
 .cvtxtlat {
    background-color: #f1f1f1;
    border-radius: 30px;
    padding: 10px;
}
.textcvjust {
    background: #f1f1f1;
    padding: 2%;
    border-radius: 30px;
}


li.textcvjust {
    text-align: left;
    padding: 0 10px;
}
ul.textcvjust{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    padding: 0 10px;
    list-style: inside;
}

 button.recocv {
    background: #3882f6; 
}
button.constcv {
    background: #3882f6; 
}

button.poncv {
    background: #3882f6; 
}
button.recv {
    background: #3882f6; 
}

.cv2 {

    color: #1F2937;
    /* transition: all 1s ease; */
    border: 2px solid #318aac;
    outline: 1px solid;
    position: relative;
        outline-color: rgba(49, 138, 172, 0.4);
transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

}

.cv2:hover {
    background: #008ac0;
    color: #fff !important;
     box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
outline-color: rgba(49, 138, 172, 0);
outline-offset: 80px;
text-shadow: 1px 1px 6px #fff;
}


button.infocerrarcv {
    background: white;
    border: 1px solid #3882f6;
    color: royalblue;
    width: auto;
    margin: 0 5px;
    font-size: 30px;
    padding: 15px;
    
  }
  .flexinfobuttoncv {
    display: flex;
    justify-content:center ;
    flex-direction: row;
    margin: 10px 0 10px 0px;
  }

/* fin cv */

.minamig {
    display: flex;

}


/* loader */

#load {
    position: fixed;
    width: 100%;
    height: 100%;
    animation: spin 1.2s linear infinite;
    -o-animation: spin 1.2s linear infinite;
    -webkit-animation: spin 1.2s linear infinite;
    z-index: 10000;

}

#load {
 border-radius: 50%;
    /* border: 3px solid white; */
    background-color: #1F2937 transparent;
    /* background-image: linear-gradient(0deg, #abc937 0%, #0000 100%); */

    /* border-top-color: transparent; */
    width: 100px;
    height: 100px;
    margin: auto;
    top: 50%;
    left: 50%;
    /* border-radius: 50%; */
}

#load::before,
#load::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}
#load::before{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #abc937 0%, #0000 100%);
}

#load::after{
    width: 85%;
    height: 85%;
    background-color: #1F2937;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

@keyframes spin { 
    to {
        transform: rotate(360deg);
    }
    
}
/* Fin loader */

.feeds {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
}

/* inicio taller diapo */


.slidertecomposta{
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slidertecomposta img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  }



#slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: auto; /* Importante: Ancho total para 7 imágenes */

}

#slides img {
    width: auto;
    height: auto;
}

.buttoninfo:hover {
    opacity: 1;
}

.divtecomp {
    display: flex;
    flex-direction: column-reverse;
}


.divtecomp img {
    display: flex;
    width: 300px;
    height: auto;
    margin: 20px 10px;
    border-radius: 25px;
    mask-image: linear-gradient( #1f2937 70%, transparent );

}

.container {
    width: auto;
}

/*  fin taller diato */




  }






@media only screen and (min-width:1000px) {

    * {
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        justify-items: center;

    }


    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 1200px;
    }

    .barratop {
        background-color: #1F2937;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 20px;
        padding-right: 80px;
    }

    .logotextomovil {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logoytext {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    #logo {
        display: flex;
        align-content:flex-start;
        justify-content: flex-start;
        width: 250px;
        height: 80px;
        padding-left: 100px;
    }   

    .logotext {
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 48px;
        color: #f9faf8;
    }

    .ultop {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        padding-right: 20px;
    }

    .litop{
        outline-color: rgba(49, 138, 172, 0.4);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

        .directorioli:hover,
    .litop:hover {
        border-radius: 0.5em 1.2em;
        background: #008ac0;
        color: #fff !important;
         box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 40px;
    text-shadow: 1px 1px 6px #fff;
    
    }


    .ptutos{
        justify-content: flex-start;
        justify-content: space-between;
    }

    li{
        display: flex;
        flex-direction: row;
        list-style: circle;
    }

    a {
        text-decoration: none;
        color:#e5e7eb;
        font-size: 18px;

    }

    .headergeneral {
        background-color: #1f2937;
        color: #e5e7eb;
        display: flex;
        flex-direction: row;
        padding-left: 100px;
        align-items: center;
        padding-bottom: 30px;
    }
    .headertexto {
        text-align: left;
        justify-items: left;
        width: 800px;
    }
    .headertexto h1{
        text-align: left;
        font-size: 48;
        color: #f9faf8;
        font-weight: 900;
    }
    .textokubiotec {
        text-align: justify;
    }

    #imgheader {
        width: 160px;
        height: 160px;
        margin:30px;
        border-radius: 10px;
        border: 1px solid;

    }

        #imgheader:hover{
            transition:all .5s ease-in-out;
            -webkit-border-radius:100%;
            box-shadow: 0px 0px 15px 15px #00d4f0;
            -webkit-box-shadow: 0px 0px 15px 15px #00668f;
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
         }
    .efeimgheader:hover #imgheader {
        -webkit-transform:scale(1.3);transform:scale(1.3);
    }
    #imgtutor {
        width: auto;
        height: 230px;
        margin:3px;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 1px solid;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    #imgtutor:hover{
        transition:all .5s ease-in-out;
        -webkit-border-radius:100%;
       
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
     }
    .efeimgheaderv{
        overflow:hidden;
    }


    #imgheaderbio {
        width: auto;
        height: 360px;
        margin:30px;
        border-radius: 6px;
        /* background: ; */
    }

    #imgheadertuto {
        width: 360px;
        height: auto;
        margin:30px;
        border-radius: 6px;
        align-content: center;
        /* background: ; */
    }
    #imgheadertuto,
    #imgheaderbio {
        mask-image: linear-gradient( #1f2937 40%, transparent );
        transition:all .5s ease-in-out;
    }

    .contenedor#imgheaderbio:hover{
        -webkit-transform:scale(1.3);transform:scale(1.3);
    }

.tutocontimg#imgheaderbio:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
    border-radius: 100%;


}
.tutocontimg:hover  #imgheaderbio {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    border-radius: 100%;
}

.tutoinfo {
    width: 600px;
    height: auto;
    mask-image: linear-gradient( #1f2937 80%, transparent );
    border-radius: 20px;
    display: flex;
    align-content: center;
}   

.coljuntas {
    display: flex;
    flex-direction: row;
}
.colcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.seccion.section.quote{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

    .contenedor:hover  #imgheaderbio {
        -webkit-transform:scale(1.3);
        transform:scale(1.3);
    }

    .contenedor {
        width: auto;
        height: 360px;
        margin:30px;
        overflow:hidden;
        mask-image: linear-gradient( #1f2937 40%, transparent );

    }

    


    h2 {
        font-size: 48px;
        color: #1f2937;
        font-weight: 900;
    }


    #principaln{
        display: flex;
        flex-direction: row;
        width: auto;
    }

    #noticiasbarra{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        padding: 5px 15px;
    }

    .imgbarran {
        width: 250px;
        height: auto;
    }

    .imgamigsite {
        width: 350px;
        height: auto;
    }


    .textfbarra {
        text-align:left;
        padding: 8px;
    }

    .titulonoticias {
        background: linear-gradient(0deg, rgba(56,130,246,1) 0%, rgba(31,41,55,1) 60%);
        color: #ffffff;
        padding: 3px 15px;
        border-radius: 20px;
    }
    .barranotis{
        display: flex;
        flex-direction: column;
        padding-top: -25px;
    }

/* espacio de carrusel */

.inicio {
    justify-content: space-around;
}

.inicio-carrusel-contenedor {
    display: flex;
    overflow-x: hidden; /* Oculta la barra de desplazamiento */
    width: 900px; /* Asegura que el contenedor ocupe todo el ancho */
  }
  
  .iniciocosascarrusel {
    flex: 0 0 100%; /* Cada elemento ocupa el 100% del ancho */
    display: inline-grid;
  }
#anterior, #siguiente {
    height: fit-content;
}
.botonescarrusel {
    display: flex;
    flex-direction: column;
}

.titulocarru {
    background: linear-gradient(0deg, rgba(56,130,246,1) 0%, rgba(31,41,55,1) 60%);
    margin-bottom: 3px;
    color: #e5e7eb;
    font-size: 30px;
    border: 1px solid rgb(87, 87, 87);
    border-radius: .4em;
    margin: 1px 0 1px 0;
    padding: 5px 10px;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}
img.lombriprocarrusel{
    width: auto;
    height: 250px;
    border-radius: 10px;
}

/* espacio de carrusel */

.nivelcontacto {
    display: flex;
    flex-direction: row;
}


    .iniciospag {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .contenido1 {
        padding-top: 15px;
        padding-bottom: 20px;
        align-items: center;
    }


    .imgtext {
        display: flex;
        border: 3px;
        border-color: #3882f6;
        padding-top: 20px;
        justify-content: space-between;
        gap: 5px;
        align-items: start;
    }
    .imgtextnoti {
        display: flex;
        border: 3px;
        border-color: #3882f6;
        padding-top: 5px;
        justify-content: space-between;
        gap: 20px;
        align-items: start;
    }

    .directorio {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        padding: 0;
    }
    .directorioli {
        display: flex;
        background-color: #3882f6;
        border-radius: 9px;
        width: auto;
        padding: 3px;
        margin: 3px;
        font-size: 16px;
        color: #000000;
        border: none ;
    }



    .imgtextproductos {
        display: flex;
        border: 3px;
        border-color: #3882f6;
        padding-top: 20px;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    img.balimglogo{
        width: auto;
        height: 250px;
        border-radius: 15px;
    }

    .figt {
        display: flex;
        width: 210px;
        height: auto;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background-color: lightgray;
        border-radius: 15px;
    }

    .figtkub {
        
            display: flex;
            width: 250px;
            height: auto;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            background-color: lightgray;
            border-radius: 15px;
        
    }
    .figtkubimg {
        display: flex;
        width: 210px;
        height: auto;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background-color: lightgray;
        border-radius: 15px;
}

img.figtkubimg {
   filter: sepia(60%);

}

img.figtkubimg:hover {
    filter: saturate(180%);
}

div.figt img {
    filter: sepia(40%);

}

div.figt img:hover {
    filter: saturate(180%);

}


    .imgtextkub {
            display: flex;
            border: 3px;
            border-color: #3882f6;
            padding-top: 20px;
            justify-content: space-between;
            gap: 20px;
            align-items: start;
        
    }


    
    .figtinicio2 {
        display: flex;
        width: auto;
        height: 130px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background-color: lightgray;
        border-radius: 15px;
    }

    .figtproductos {
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        
    }

    .figtproductosamigos {
        background-color: rgba(211, 211, 211, 0.432);
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        
    }

    .figtproductoslomb {
        background-color: rgba(211, 211, 211, 0.432);
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        border-radius: 15px;
    }
  
    #tutorialk,
     .tutorialk  {
        background-color: rgba(211, 211, 211, 0.432);
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
  #tutorialeslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .tutocomposta {
    display: flex;
    flex-direction: column;
  }


  .jardin1 {
    mask-image: linear-gradient( #1f2937 40%, transparent );
    display: flex;
    border-radius: 25px;
}

.expand {
  
  transition:all .5s ease-in-out;
}
.expand:hover { 
       -webkit-transform:scale(1.9);transform:scale(1.9);
       mask-image: linear-gradient( #1f2937 90%, transparent );

}

.expande {
  
    transition:all .5s ease-in-out;
  }
  .expande:hover { 
         -webkit-transform:scale(1.9);transform:scale(1.9);
         mask-image: linear-gradient( #1f2937 90%, transparent );
        z-index: 10000;
  }
  
    img {
        width: 210px;
        height: 210px;
    

    }

    img.lombripro{
        width: auto;
        height: 350px;
        border-radius: 10px;
    }

    .figt img {
        border: 3px solid #3882f6;
        border-radius: .61em;
    }
    .figtproductos img  {
        border: 3px solid #3882f6;
        border-radius: .61em;
        width: auto;
        height: 230px;
    
    }

    .imgkubyhe {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 300px;
        height: auto;
        border-radius: 45px;
    }

    .textf {
        text-align: justify;
        font-size: 15px;
        padding: 0 5px;
    }

    .textfproductos {
        background-color: rgba(211, 211, 211, 0.432);
        text-align: justify;
        font-size: 15px;
        width: auto;
        height: 230px;
        padding-right: 10px;
        padding-left: 5px;
    }

    .textfproductosamigos {
        background-color: rgba(211, 211, 211, 0.432);
        text-align: justify;
        font-size: 15px;
        width: 90%;
        height: auto;
        padding-right: 10px;
        padding-left: 5px;
    }

    .textfproductoslomb {
        background-color: rgba(211, 211, 211, 0.432);
        text-align: justify;
        font-size: 15px;
        width: auto;
        height: auto;
        padding-right: 10px;
        padding-left: 5px;
        border-radius: 15px;
    }

    .textfproductoslombcar {background: #c7c7c7;
        background: linear-gradient(90deg,rgba(199, 199, 199, 1) 0%, rgba(56, 130, 246, 1) 100%);
        text-align: justify;
        font-size: 15px;
        width: auto;
        height: auto;
        padding-right: 25px;
        padding-left: 35px;
        border-radius: 15px;
    }
    

    .ulproductos {
        display: flex;
        flex-direction: row;
        
    }
    .liproductos {
        list-style-type: circle;
        border: 1px solid;
        padding: 0 5px;
    }


    button {
        background-color: #3882f6;
        border-radius: .4em;
        border-color:#3882f6;
        color:#f9faf8;
    }
    .buttoninfo,
    .infocerrar,
    .infocerrarcv,
    .botonheader {
        color: #1F2937;
        /* transition: all 1s ease; */
        border: 2px solid #318aac;
        outline: 1px solid;
        position: relative;
            outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    
    }



    .buttoninfo:hover,
    .infocerrar:hover,
    .infocerrarcv:hover,
    .botonheader:hover {
        background: #008ac0;
        color: #fff !important;
         box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    }


 




    button.buttoninfo {
        background: linear-gradient(0deg, rgba(56, 130, 246, 1) 0%, rgb(148 192 255) 60%);
        /* background-color: #abc937; */
        border-radius: .4em;
        border-color:#000000;
        color:#ffffff;
        font-weight: 900;
    }

    .buttoninfo a{
        color: #1f2937;
        padding: 5px;

    }

    .listaamigos {
        box-sizing: content-box;
        display: flex;
        flex-wrap: wrap;
        padding: 5px 15px 10px 15px;

    }

    .litutolist{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
        justify-content:flex-start;
        text-align: justify;
        padding: 10px;
        width: 100%;
    }

    .menu-container {
        display: flex;
        flex-direction: row;

    }

    #menuheader {
       display: flex;
       flex-wrap: wrap;
        gap: 5px;
    }


    .titulostutos {
        background-image: linear-gradient(0deg, rgba(179,179,179,1),rgba(140,140,140,.3));
        margin-bottom: 2px;
        border: 1px solid rgb(87, 87, 87);
        border-radius: .4em;
        margin: 10px 0 10px 0;
        padding: 20px 0 20px 0;
        display: flex;
        width: 1200px;
        justify-content: center;
    }

    .bottonimage {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-content: center;
        align-items: center;
        text-align: center;
     }

    .contenido2 {
        display: flex;
        background-color: #ebf2ff;
    }
    .textocont2 {
        display: flex;
        padding: 20px 20px;
        flex-direction: column;
    }
    div.textocont2  div.textocont2{
        display: flex;
        padding: 10px 10px;
        flex-direction: column;
    }

    .p1{
        font-style: italic;
        font-size: 20px;
        color: #1f2937;
    }

    .p2 {
        text-align: right;
        font-weight: 900;
        
    }

    .contenidofin {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contenidofininfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .cuadrofinbproductos{
        display: flex;
        flex-direction: column;
        width: auto;
        height: 35px;
        margin: 1px solid #000000;
        border-radius: 0.5em 1.2em;
        font-weight: 600;
        justify-content: center;
        margin: 10px 0 10px 0;
        align-items: center;
        color: #f8f8f8;
        outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .linkultra {
        color: #002f75;

        outline: 2px solid;
        outline-color: rgba(49, 138, 172, 0.4);

        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    

    }

    .linkultra:hover {
        background: #008ac0;
        color: #fff !important;
         box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    border-radius: 20px;
    }

    .cuadrofinbproductos:hover {
         box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
         outline-color: rgba(49, 138, 172, 0);
         outline-offset: 80px;
         text-shadow: 1px 1px 6px #fff;
     }
           

    #imgfin {
        display: flex;
        border-radius: 10px;
        width: auto;
        height: 250px;
        border: 2px solid #3882f6;
    }
    .cuadrofin {
        margin: 65px 100px;
        border: 2px;
        background-color: #3882f6;
        padding: 20px 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
    }
    .cuadrofinproductos {
        margin: 65px 10px;
        border: 2px;
        background-color: #3882f6;
        padding: 20px 80px 20px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
    }

    .cuadrofininfo {
        margin: 65px 10px;
        border: 2px;
        background-color: #3882f6;
        padding: 20px 80px 20px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
    }

   .contactw {
    display: flex;
    align-content: center;
    align-items: center;
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.5em 1.2em;
    background: #318aac;
    position: relative;
    border: 2px solid #318aac;
    outline: 2px solid;
    outline-color: rgba(0, 0, 0, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
   }

   .contactw:hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    }



    #whatsappn {
        width: auto;
        height: 40px;
    }

    #insta {
        width: auto;
        height: 45px;
    }



.contenidofin.cuadrofin{
    padding-left: 20px;
    padding-right: 20px;
    
}
    .textcuadro {
        color: #f9faf8;
        justify-items: flex-start;
        padding: 0 50px ;
        
    }

    .cuadrofinb{
        display: flex;
        align-items: center;
        width: auto;
        height: auto;
        border: 1px solid #f9faf8;
        border-radius: 6px;
    }


    footer {
        background-color: #1F2937;
        color:#f9faf8;
    }

    .pag404 {
        display: flex;
        background-color: #1f2937;
        color: #e5e7eb;
        display: flex;
        flex-direction: column;
            align-items: center;
            justify-content: center;
        width: auto;
        height: 800px;
      padding-top: 100px;
    }
/* Inicio css infonodal  */

#productoinfobal {
    
    position: fixed;
    top: 50%;
    left: 50%;
    width: 850px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    justify-content:center;
    align-items:center;
    transform:translate(-50%,-50% ) ;
}
#productoinfoultrabal {
    
    position: fixed;
    top: 50%;
    left: 50%;
    width: 850px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    justify-content:center;
    align-items:center;
    transform:translate(-50%,-50% ) ;
}

#productoinfosulfo {
    
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    transform:translate(-50%,-50% ) ;
}

#productoinfojabon {
    
    position: fixed;
    top: 50%;
    left: 50%;
    width: 850px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    justify-content:center;
    align-items:center;
    transform:translate(-50%,-50% ) ;
}

#productoinfodiato {
    
    position: fixed;
    top: 50%;
    left: 50%;
    width: 850px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    justify-content:center;
    align-items:center;
    transform:translate(-50%,-50% ) ;
}

#productoinfomma {
    
    position: fixed;
    top: 50%;
    left: 50%;
    width: 850px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    justify-content:center;
    align-items:center;
    transform:translate(-50%,-50% ) ;
}


#productoinfomulti {
    
    position: fixed;
    top: 50%;
    left: 50%;
    width: 850px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    justify-content:center;
    align-items:center;
    transform:translate(-50%,-50% ) ;
}
 .infocuadro {
    display: flex;
    flex-direction: row;

 }
 .infocuadro2 {
    display: flex;
    flex-direction: column;

 }
 
.modal {
    background: white;
    width: 100%px;
    max-width: 850px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .flexicon {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .headerinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .headerinfotitulo {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-between;
  }
  .flexinfoclose {
    display: flex;
    padding-right: 20px;
    align-items: flex-start;
  }
  
  .icon {
    color: royalblue;
    font-size: 26px;
    font-weight: 700;
    background: lavender;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* .textinfo {
    text-align:left;
    padding-right: 15px;
    padding-bottom: 5px;
  } */
  
  .close-button {
    background: #eee;
    border-radius: 50%;
    color: #888;
    font-weight: 400;
    font-size: 16px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 0;
  }
  
  /* button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  } */
  
  .flexinfobutton {
    display: flex;
    justify-content:flex-start ;
    flex-direction: row;
    margin: 10px 0 10px 0px;
  }
  
  
  button.infocerrar {
    background: white;
    border: 1px solid #ddd;
    color: royalblue;
    width: 100px;
    margin: 0 5px;
  }
/* fin de css infoproductos */

/* inicio estilo cv */

.cvdiv1{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.cvdiv2 {
    display: flex;
    flex-direction: column;
}

.cvdivlat {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.cvtxtlat {
    background-color: #f1f1f1;
    border-radius: 30px;
    padding: 10px;
}
.textcvjust {
    background: #f1f1f1;
    padding: 2%;
    border-radius: 30px;
}
.constanciascv {
    justify-content: center;
    display: flex;
}

div.imgcv,
.imgcv {
    width: 40em;
    height: auto;
}

.recocv {
    background: #3882f6; 
}

.cv2 {

    color: #1F2937;
    /* transition: all 1s ease; */
    border: 2px solid #318aac;
    outline: 3px solid;
    position: relative;

}

.cv2:hover {
    background: #008ac0;
    color: #fff !important;
     box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
outline-color: rgba(49, 138, 172, 0);
outline-offset: 40px;
text-shadow: 1px 1px 6px #fff;

}



button.infocerrarcv {
    background: white;
    border: 1px solid #3882f6;
    color: royalblue;
    width: auto;
    margin: 0 5px;
    font-size: 30px;
    padding: 15px;
  }
  .flexinfobuttoncv {
    display: flex;
    justify-content:center ;
    flex-direction: row;
    margin: 10px 0 10px 0px;
  }


li.textcvjust {
    text-align: left;
    padding: 0 10px;
}
ul.textcvjust{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    padding: 0 10px;
    list-style: inside;
    flex-direction: column;
}
a.insta #insta:hover,
 .softcv #insta:hover {
    transform: scale(130%,130%);
    transition: all 0.4s ease-in-out 0s;

}



/* fin estilo cv */
.minamig {
    display: flex;

}


/* loader */

#load {
    position: fixed;
    width: 100%;
    height: 100%;
    animation: spin 1.2s linear infinite;
    -o-animation: spin 1.2s linear infinite;
    -webkit-animation: spin 1.2s linear infinite;
    z-index: 10000;

}

#load {
 border-radius: 50%;
    /* border: 3px solid white; */
    /* background-color: #1F2937 transparent; */
    /* background-image: linear-gradient(0deg, #abc937 0%, #0000 100%); */

    /* border-top-color: transparent; */
    width: 180px;
    height: 180px;
    margin: auto;
    top: 50%;
    left: 50%;
    /* border-radius: 50%; */
}

#load::before,
#load::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}
#load::before{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #abc937 0%, #0000 100%);
}

#load::after{
    width: 85%;
    height: 85%;
    background-color: #1F2937;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

@keyframes spin { 
    to {
        transform: rotate(360deg);
    }
    
}
/* Fin loader */

.iniciospag2 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.feeds {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* inicio taller diapo */
#slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(10% * 7); /* Importante: Ancho total para 7 imágenes */

}

#slides img {
    width: auto;
    height: auto;
}

.buttoninfo:hover {
    opacity: 1;
}
.divtecomp {
    display: flex;
    flex-direction: row;
}
.divtecomp img {
    display: flex;
    width: 450px;
    height: auto;
    margin: 10px 10px;
    border-radius: 30px;
    mask-image: linear-gradient( #1f2937 80%, transparent );

}

/* nueva slider diapo te composta */
.slidertecomposta{
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slidertecomposta img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  }

 ol.tutolista {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: justify ;
 }
li.tutolista{
    display: list-item;
    text-align: justify ;
    list-style: decimal ;
}

/*  fin taller diato */




}